*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

header{
    position: absolute;
    z-index: 100;
}

body {
    background-color: #f5f5f5;
}

.containerheader {
    display: flex;
    width: 100%;
    height: 9.188em;
    background-color: #3e4d3a;
    position: fixed;
    flex-wrap: wrap;
    padding: 1.25em;
    top: 2.375em;
    
}

.boxtop {
    height: 2.375em;
    width: 100%;
    background-color: #2e3a2b;
    position: fixed;
    top: 0;
}

.logo img {
    height: 3.125em;
}

.box {
    color:white;
    font-size: 1.5em;
    padding: 0.313em;
    margin-left: auto;
    margin-right: 0;
}

.boxright {
    margin-left: auto;
    margin-right: 0;
    padding-top: 0.75em;
}

.searchbar {
    width: 100%;
    justify-content: center;
    padding-top: 0.188em;
    padding-left: 13vw;
    padding-right: auto;
}

input[type="search"] {
    height: 2.5em;
    width: 80%;
    border-radius: 15px 0px 0px 15px;
    background-color: white;
    margin-top: 0.625em;
    border: none;
    padding-left: 0.938em;
    outline: none;
    font-size: 1em;
}

button[type="submit"] {
    border-radius: 0px 15px 15px 0px;
    height: 2.5em;
    width: 100%;
    max-width: 2.5em;
    cursor: pointer;
    background-color: white;
    border: none;
    position: relative;
    top: 0.05em;
    left: -0.313em;
    transition: 0.3s;
    font-size: 1em;
    color:#2e3a2b;
}

button[type="submit"]:hover {
    background-color: rgb(235, 235, 235);
}

.heropic {
    width: 100%;
    height: 23.438em;
    object-fit: cover;
}

div.scrollgallery {
    display: flex;
    width: 100%;
    min-width: max-content;
    height: 23.438em;
    margin-top: 9.438em;
    overflow-x: visible;
    overflow-y: clip;
    white-space: nowrap;
    justify-content: center;
    background-color: #3e4d3a;
    border-bottom: 8px solid #3e4d3a;
}

div.scrollgallery::-webkit-scrollbar {
    display: none;
}

.herobox {
    display: inline-block;
    max-width: 375px;
    max-height: 90%;
}

.pic1text {
    position: relative;
    z-index: 1;
    margin-top: 13.438em;
    bottom: 600px;
    padding-left: 1.25em;
    font-size: 1.313em;
    color: white;
    text-shadow: 1px 1px 12px black;
}

.pic2text {
    position: relative;
    z-index: 1;
    margin-top: 11.563em;
    bottom: 565px;
    font-size: 1.313em;
    color: black;
    text-align: center;
}

.pic3text {
    position: relative;
    z-index: 1;
    margin-top: 11.563em;
    bottom: 420px;
    padding-left: 1.875em;
    font-size: 1.313em;
    color: white;
    text-shadow: 1px 1px 12px black;
}

.footercontainer {
    display: flex;
    width: 100%;
    background-color: #3e4d3a;
    column-count: 2;
    justify-content: center;
    padding-top: 1.25em;
    line-height: 1.5em;
}

.footerbox {
    display: flex;
    padding: 1.25em;
    font-size: 0.938em;
    color:white;
    flex-wrap: wrap;
}

footer div ul {
    list-style: none;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1.25em ;
}

.footerlogo {
    display: flex;
    max-height: 5em;
    margin-bottom: 1.25em;
    margin-left: 1.25em;
    justify-content: center;
}

.followus {
    display: inline-block;
    width: 11.25em;
    justify-content: space-evenly;
}

.smlogo {
    width: 3.125em;
    border-radius: 1rem;
}

.payoptions {
    display: inline-block;
    width: 11.25em;
    justify-content: space-evenly;
}

.paylogo {
    height: 1.438em;
}

.CTAproces {
    display: inline-block;
    width: 6.875em;
    position: relative;
    z-index: 1;
    border: none;
    cursor: pointer;
    background-color: #F2921D;
    color: white;
    padding: 0.438em;
    border-radius: 5px;
    bottom: 29em;
    left: 6.475em;
    transition: 0.5s;
    font-size: 1.188em;
}

.CTAproces:hover {
    background-color: #81BC6E;
}

.CTA2 {
    display: inline-block;
    width: 6.875em;
    position: relative;
    z-index: 1;
    border: none;
    cursor: pointer;
    background-color: #81BC6E;
    color: white;
    padding: 0.313em;
    border-radius: 5px;
    bottom: 21.7em;
    left: 2.125em;
    box-shadow: 1px 1px 8px black;
    transition: 0.5s;
    font-size: 1.188em;
}

.CTA2:hover {
    background-color: rgb(240, 155, 0);
}

.movetonext {
    display: inline-block;
    width: 10.313em;
    position: relative;
    z-index: 1;
    border: none;
    cursor: pointer;
    background-color: rgba(62, 77, 58, 0.7);
    color: white;
    padding: 0.313em;
    border-radius: 10px;
    bottom: 28em;
    left: 11.875em;
    box-shadow: 1px 1px 8px black;
    transition: 0.5s;
    font-size: 0.938em;
}

.genderchoose {
    display: flex;
    width: 100%;
    min-width: max-content;
    padding: 1.25em;
    column-count: 2;
    column-gap: 2.9em;
    padding-top: 1.875em;
    padding-bottom: 1.25em;
    justify-content: center;
    position: sticky;
    left: 20px;
}

.genderbox {
    display: inline-block;
    width: 100%;
    max-width: 9.875em;
    max-height: 90%;
}

.men {
    display: inline-block;
    position: relative;
    max-height: fit-content;
    z-index: 1;
    border: none;
    cursor: pointer;
    background-color: #536F4A;
    color: black;
    padding-top: 0.313em;
    padding-bottom: 0.313em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 5px;
    bottom: 17.8em;
    left: 0.6em;
    transition: 0.5s;
    font-size: 1.188em;
    color: white;
}

.women {
    display: inline-block;
    position: relative;
    max-height: fit-content;
    z-index: 1;
    border: none;
    cursor: pointer;
    background-color: #536F4A;
    color: black;
    padding-top: 0.313em;
    padding-bottom: 0.313em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 5px;
    bottom: 17.8em;
    left: 0.4em;
    transition: 0.5s;
    font-size: 1.188em;
    color: white;
}

.menwomen {
    width: 9.875em;
    height: 20em;
    cursor: pointer;
    border-radius: 5px;
}

.menwomen:hover {
    box-shadow: 1px 1px 5px black;
    opacity: 90%;
}

.women:hover {
    box-shadow: 1px 1px 5px black;
    background-color: #3e4d3a;
}

.men:hover {
    box-shadow: 1px 1px 5px black;
    background-color: #3e4d3a;
}

.textbox {
    display: flex;
    width: 100%;
    min-width: max-content;
    justify-content: center;
}

.headline {
    font-size: 1.5em;
    text-align: center;
}

.popproducttext {
    font-size: 1.188em;
    padding: 1.25em;
    text-align: center;
}

.producttext {
    margin-left: 0.625em;
    color:black;
}

div.scrollgallery2 {
    display: flex;
    width: 100%;
    min-width: max-content;
    justify-content: center;
    overflow: visible;
    white-space: nowrap;
    padding-left: 1.25em;
    font-size: 0.938em;
}

div.scrollgallery2::-webkit-scrollbar {
    display: none;
}

div.scrollgallery2 a{
    display: inline-block;
}

.productpic {
    height: 13.438em;
    border-radius: 5px;
}

.productpic:hover {
    box-shadow: 1px 1px 5px grey;
}

.productbox {
    display: inline-block;
    width: 9.375em;
    padding: 0.313em;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

body div div i {
    font-weight: bold;
    font-size: 1.313em;
}

.voresproces {
    float:left;
    font-size: 1.5em;
    width: 100%;
    padding-top: 1.25em;
    text-align: center;
}

.vppic {
    display: flex;
    justify-content: center;
}

.readmore {
    color:#F2921D;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.125em;
    text-decoration: underline;
    cursor: pointer;
}

.blankbox {
    display: flex;
    height: 6.25em;
}