/* Head */
@font-face {
    font-family: "Plus Jakarta Sans", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* Body */
body {
    background-color: #2e3a2b;
}

/* Header */
header{
    position: absolute;
    z-index: 100;
}

.containerheader {
    display: flex;
    width: 100%;
    height: 9.188em;
    background-color: #3e4d3a;
    position: fixed;
    flex-wrap: wrap;
    padding: 1.25em;
}

.logo img {
    height: 3.125em;
}

.box {
    color:white;
    font-size: 1.2em;
    padding: 0.313em;
    margin-left: auto;
    margin-right: 0;
}

.boxright {
    margin-left: auto;
    margin-right: 0;
    padding-top: 1.2em;
}

.searchbar {
    display: inline;
    width: 100%;
    padding: 1em 2.5em 1em;
    justify-content: center;
}

input[type="search"] {
    float: left;
    height: 2.5em;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    margin-top: 0.625em;
    border: none;
    padding-left: 0.938em;
    outline: none;
    font-size: 1em;
    display: block;
    margin: 0 auto;
}

button[type="submit"] {
    float: right;
    border-radius: 0px 15px 15px 0px;
    height: 2.5em;
    width: 100%;
    max-width: 2.5em;
    cursor: pointer;
    background-color: white;
    border: none;
    position: absolute;
    right:3.713em;
    transition: 0.3s;
    font-size: 1em;
    color:#2e3a2b;
}

button[type="submit"]:hover {
    background-color: rgb(235, 235, 235);
}

/* Main (index) */
main {
    background-image: 
    url('/img/Dark green GW background Logo.svg');
    background-repeat: repeat;
    background-size: cover 500px;
    background-position: top, 100px, 180px;
    background-color: #f5f5f5;
}

/* Hero */
div.scrollgallery {
    display: grid inline;
    grid-auto-flow: column;
    width: 100%;
    height: 22.5em;
    margin-top: 9em;
    margin-bottom: 1.5em;
    overflow-y: clip;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: #3e4d3a;
    border-bottom: 5px solid #3e4d3a;
    justify-content: center left;
}

div.scrollgallery::-webkit-scrollbar {
    display: none;
}

.herobox {
    display: inline-block;
    width: 100%;
}

.heropic {
    width: 100%;
    min-width: 388px;
    height: 23em;
    object-fit: cover;
}

.pic1text {
    position: relative;
    z-index: 1;
    margin-top: 13.438em;
    bottom: 630px;
    padding-left: 1.25em;
    font-size: 1.313em;
    color: white;
    text-shadow: 1px 1px 12px black;
}

.movetonext {
    width: 10.313em;
    position: relative;
    z-index: 1;
    border: none;
    cursor: pointer;
    background-color: rgba(62, 77, 58, 0.7);
    color: white;
    padding: 0.313em;
    border-radius: 10px;
    bottom: 29em;
    box-shadow: 1px 1px 8px black;
    transition: 0.5s;
    font-size: 0.938em;
    float: right;
    margin-right: 2em;
}
  
.pic2text {
    position: relative;
    z-index: 1;
    margin-top: 11.563em;
    bottom: 595px;
    font-size: 1.313em;
    color: black;
    text-align: center;
}

.buttonalign {
    text-align: center;
}

.CTAproces {
    display: inline-block;
    width: 6.875em;
    position: relative;
    z-index: 1;
    border: none;
    cursor: pointer;
    background-color: #F2921D;
    color: white;
    padding: 0.438em;
    border-radius: 5px;
    bottom: 30.7em;
    transition: 0.5s;
    font-size: 1.188em;
}

.CTAproces:hover {
    background-color: #468F2E;
}

.pic3text {
    position: relative;
    z-index: 1;
    margin-top: 11.563em;
    bottom: 410px;
    padding-left: 1.875em;
    font-size: 1.313em;
    color: white;
    text-shadow: 1px 1px 12px black;
}

.CTA2 {
    display: inline-block;
    width: 6.875em;
    position: relative;
    z-index: 1;
    border: none;
    cursor: pointer;
    background-color: #468F2E;
    color: white;
    padding: 0.313em;
    border-radius: 5px;
    bottom: 21.2em;
    left: 2.125em;
    box-shadow: 1px 1px 8px black;
    transition: 0.5s;
    font-size: 1.188em;
    text-align: center;
}

.CTA2:hover {
    background-color: rgb(240, 155, 0);
}

/* Kvinde eller Mand */
.genderchoose {
    display: flex;
    width: 100%;
    min-width: max-content;
    column-count: 2;
    column-gap: 2.9em;
    padding-top: 1.875em;
    padding-bottom: 1.25em;
    justify-content: center;
    position: sticky;
    left: 20px;
}

.genderbox {
    display: inline-block;
    width: 100%;
    max-width: 9.875em;
    max-height: 90%;
}

.menwomen {
    width: 9.875em;
    height: 20em;
    cursor: pointer;
    border-radius: 5px;
}

.menwomen:hover {
    box-shadow: 1px 1px 5px black;
    opacity: 90%;
}

.women {
    display: inline-block;
    position: relative;
    max-height: fit-content;
    z-index: 1;
    border: none;
    cursor: pointer;
    background-color: #536F4A;
    padding-top: 0.313em;
    padding-bottom: 0.313em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 5px;
    bottom: 17.8em;
    left: 0.4em;
    transition: 0.5s;
    font-size: 1.188em;
    color: white;
}

.women:hover {
    box-shadow: 1px 1px 5px black;
    background-color: #3e4d3a;
}

.men {
    display: inline-block;
    position: relative;
    max-height: fit-content;
    z-index: 1;
    border: none;
    cursor: pointer;
    background-color: #536F4A;
    padding-top: 0.313em;
    padding-bottom: 0.313em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 5px;
    bottom: 17.8em;
    left: 0.6em;
    transition: 0.5s;
    font-size: 1.188em;
    color: white;
}

.men:hover {
    box-shadow: 1px 1px 5px black;
    background-color: #3e4d3a;
}

/* Headline "Bæredygtighed" */
.textbox {
    display: flex;
    width: 100%;
    min-width: max-content;
    justify-content: center;
}

.headline {
    font-size: 1.5em;
    text-align: center;
}

.popproducttext {
    font-size: 1.188em;
    padding: 1.25em;
    text-align: center;
}

/* Populære produkter */
div.scrollgallery2 {
    display: grid inline;
    grid-auto-flow: column;
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    padding-left: 1.25em;
    font-size: 0.938em;
    justify-content: space-around left;
}

div.scrollgallery2::-webkit-scrollbar {
    display: none;
}

div.scrollgallery2 a{
    display: inline-block;
}

.productbox {
    display: inline-block;
    width: 9.375em;
    padding: 0.313em;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.productpic {
    height: 17.19em;
    border-radius: 5px;
}

.producttext {
    margin-left: 0.625em;
    color:black;
}

.productpic:hover {
    box-shadow: 1px 1px 5px grey;
}

body div div i {
    font-weight: bold;
    font-size: 1.313em;
}

/* Vores Proces */
.voresproces {
    float:left;
    font-size: 1.5em;
    width: 100%;
    padding-top: 1.25em;
    text-align: center;
}

.vppic {
    display: flex;
    justify-content: center;
}

.readmore {
    color:#F2921D;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.125em;
    text-decoration: underline;
    cursor: pointer;
}

.blankbox {
    display: flex;
    height: 6.25em;
}

/* Main (Product Page) */
.blankfiller {
    display: grid block;
    height: 9em;
}

/* Brødkrummesti (Kerstine) */
.brødkrummesti {
    font-size: 0.7em;
    text-decoration: none;
    padding: 1.25em 0 1.5em 2em;
}

main nav div a {
    color: grey;
}

/* Billeder (Kerstine) */
.billedecontainer {
    display: flex inline;
    flex-direction: column;
    column-count: 2;
    column-width: auto;
    width: 100%;
    max-height: 375px;
    flex-wrap: wrap;
}
.billede1 {
    width: 225px;
    object-fit: cover;
}
.billede2 {
    width: 140px;
    padding-bottom: 7px;
    object-fit: cover;
}
.billede3 {
    width: 140px;
    object-fit: cover;
}

/* Titel (Kerstine) */
.protitle {
    display: flex inline;
    width: 100%;
    justify-content: space-between;
}

h2 {
    padding: 0.5em 0 0 0.8em;
}

/* Pris (Kerstine) */
h3 {
    font-size: 1.8em;
    padding: 0.8em 1em;
    color: #468F2E;
}

.inlinebox {
    display: flex inline;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
}

.sizebox {
    display: flex;
    width: 10em;
    height: 2.5em;
    justify-content: space-between;
    padding: 0 0 0 1.25em;
}

.sizebtn {
    cursor: pointer;
    height: fit-content;
    background-color: white;
    padding: 0.6em 0.6em;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 1px 1px 3px grey;
}

.sizebtn:hover {
    border: 2px solid black;
}

.btnright {
    float: right;
    padding: 0 1.2em 0 0em;
}

.btn {
    text-decoration: none;
    background-color: #F2921D;
    color: white;
    padding: 0.7em 1em;
    border-radius: 5px;
}

.colorpick {
    padding: 1em 1.3em;
}

.inlineelement {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0;
    column-gap: 1em;
}

.greenbtn {
    display: block;
    width: 1.5em;
    height: 1.5em;
    background-color: #3e4d3a;
    border: 4px solid white;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px grey;
}

.orangebtn {
    display: block;
    width: 1.2em;
    height: 1.2em;
    background-color: #F2921D;
    border-radius: 1rem;
}

.infoproduct {
    padding: 1.25em;
}

h4 {
    font-size: 1.2em;
}

.simproducttext {
    font-size: 1.188em;
    padding: 1.25em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

/* Footer */
.footercontainer {
    display: flex;
    width: 100%;
    background-color: #3e4d3a;
    column-count: 2;
    justify-content: center;
    padding-top: 1.25em;
    line-height: 1.5em;
}

.footerbox {
    display: flex;
    
    font-size: 0.938em;
    color:white;
    flex-wrap: wrap;
}

.links {
    text-decoration: none;
    color: white;
}

.footerlogo {
    display: flex;
    height: 3em;
    width: auto;
    margin-bottom: 1.25em;
    margin-left: 1.25em;
    justify-content: center;
}

.trustlogo {
    width: 10em;
}

footer div ul {
    list-style: none;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1.25em ;
}

.followus {
    display: inline-block;
    width: auto;
    justify-content: space-evenly;
    font-size: 1.5em;
    padding-top: 0.5em;
}

.payoptions {
    display: inline-block;
    justify-content: space-evenly;
    font-size: 1.4em;
    padding-top: 0.5em;
}

div i {
    padding-right: 0.1em;
}